.listGroup{
    margin-top: 50px;
}

.titleWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listItem{
    background-color: white;
    margin-bottom: 10px;
    transition: background-color .3s linear;
}

.checked{
    background-color: rgb(235,255,225);
}